export ALL_CLAIM_VAULT='UQDQFyFgdZ5HuT8DjXsS8YPpYd59o2DlFo1kVDhBdrsHqoIw'
export TON_TREASURY_ADDRESS='UQBdYfGArtoCUmBs5TjYQtfPFfQuGC2Ydbj2pQr3zIlNrDta'
export EMA_JETTON_MASTER='EQDK-bRI706S1cIIoLhTrTf-e8pL2TpOD5rcP3OaxYyzs74b'
export EMX_JETTON_MASTER='EQBj0zGcHOvN5IsBP_BAAG5NRiuAa_SLBu-xjsJn7AeM4nQy'
export EMS_JETTON_MASTER='EQCpJURzB4DJcL1keSRF8u5J5SmakM-_FaftTAyXRrVnnNmD'
export WEMS_JETTON_MASTER='EQA8dAgNtnsfGF0M-MJfnqii5AhxcRe73M8nCkkxuq85Tr-Q'
export USDT_JETTON_MASTER='EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs'
export TONCENTER_URL='https://toncenter.com/api/v2/jsonRPC'
export TONCENTER_API_KEY='3bf5c9864deefc7d117c754f1939b567f9411a21261cc8a053b423ecc6131ce5'
export EMA_WALLET='EQBu6fm68Jl7jfPhgGQNjQaBdX2F5bD6FSPfAChcgvMGBs5y'
export EMX_WALLET='EQD6BMVFTBQ3r3nSBFUFV81RzA6U9FyQRiRP1Kfy7SJXhHa7'
export EMS_WALLET='EQAXXEoNLa2PkIXkNnvlFs7EYb11Y4b2_3nXoThrVIkX4TBc'
export WEMS_WALLET='EQAZsQfyIotjLkgyrKZpD3JrgenVhOhD56f1lT3cmKfDIDbz'
export USDT_WALLET='EQD6Wtn7-cf_TTNrSYrhwb2lXUk2M00-Fy4aFB5fCWtrHHUO'
export CLAIM_DISTRIBUTOR='EQCmIa_jSGBk_VHxwtBQuRN9c-3WyROkP_Iw6-UpAISgda3u'
